<!-- src/main/webapp/WEB-INF/thymeleaf/templates/admin/printers/list.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user.html}">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{common.printers}">Liste des imprimantes</title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="#{common.printers}">Liste des imprimantes</h2>
    <div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th th:text="#{common.label}">Libellé</th>
                    <th>EPPN</th>
                    <th>IP</th>
                    <th th:text="#{common.maintenance}">Infos maintenance</th>
                    <th th:text="#{common.users}">Utilisateurs</th>
                    <th th:text="#{common.groups}">Groupes</th>
                    <th th:text="#{common.login.date}">Date connexion</th>
                    <th th:text="#{common.view}">Voir</th>
                    <th th:text="#{common.edit}">Modifier</th>
                    <th th:text="#{common.delete}">Supprimer</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="printer : ${printers}">
                    <td>
                        <a th:href="@{'/admin/printers/' + ${printer.id}}" th:text="${printer.label}"></a>
                    </td>
                    <td th:text="${printer.eppn}"></td>
                    <td th:text="${printer.ip}"></td>
                    <td th:text="${printer.maintenanceInfo}"></td>
                    <td th:text="${printer.printerUsers}"></td>
                    <td th:text="${printer.printerGroups}"></td>
                    <td th:text="${#temporals.format(printer.connectionDate, printer_connectiondate_date_format)}"></td>
                    <td>
                        <a th:href="@{/admin/printers/{id}(id=${printer.id})}" class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span> <span th:text="#{common.view}">Voir</span>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/admin/printers/{id}?form(id=${printer.id})}" class="btn btn-primary">
                            <span class="glyphicon glyphicon-edit"></span> <span th:text="#{common.edit}">Modifier</span>
                        </a>
                    </td>
                    <td>
                        <form th:action="@{/admin/printers/{id}(id=${printer.id})}" th:method="delete"
                              style="display:inline-block;" th:data-confirm="#{printers.confirm.delete}" onsubmit="return confirm(this.dataset.confirm);">
                            <button type="submit" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash"></span> <span th:text="#{common.delete}">Supprimer</span>
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>