<!-- src/main/webapp/WEB-INF/thymeleaf/templates/admin/printers/show.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user.html}">
<head>
    <meta charset="UTF-8"/>
    <title>Détail imprimante</title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="${printer.label}">Imprimante</h2>
    <dl class="dl-horizontal">
        <dt>Libellé</dt>
        <dd th:text="${printer.label}"></dd>
        <dt>EPPN</dt>
        <dd th:text="${printer.eppn}"></dd>
        <dt>IP</dt>
        <dd th:text="${printer.ip}"></dd>
        <dt>Infos maintenance</dt>
        <dd th:text="${printer.maintenanceInfo}"></dd>
        <dt>Utilisateurs</dt>
        <dd th:text="${printer.printerUsers}"></dd>
        <dt>Groupes</dt>
        <dd th:text="${printer.printerGroups}"></dd>
        <dt>Date connexion</dt>
        <dd th:text="${#temporals.format(printer.connectionDate, printer_connectiondate_date_format)}"></dd>
    </dl>
    <a th:href="@{/admin/printers}" class="btn btn-default">Retour à la liste</a>
</div>
</body>
</html>