<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="'ESUP-SGC - ' + ${active}">ESUP-SGC</title>
    <!-- CSRF Meta Tags -->
    <meta th:if="${_csrf != null}" th:name="${_csrf.headerName}" th:content="${_csrf.token}"/>
    <!-- Scripts -->
    <th:block th:replace="~{fragments/head :: head}"/>
</head>
<body data-target=".bs-docs-sidebar" data-spy="scroll" data-twttr-rendered="true">
<div>
    <th:block th:replace="~{fragments/navbar :: navbar}"/>
    <div id="main" class="containerfull">
        <div class="collapse" id="collapseHelp">
            <div class="well" th:utext="${help}"></div>
        </div>
        <th:block th:replace="~{fragments/menu :: menu}"/>
        <th:block th:replace="~{fragments/message :: message}"/>
        <main layout:fragment="content"></main>
    </div>
    <th:block th:replace="~{fragments/footer :: footer}"/>
</div>
</body>
</html>