<!-- src/main/webapp/WEB-INF/thymeleaf/templates/user/card-disable.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{./layouts/user.html}">
<head>
    <title th:text="#{card.disable.title}">Désactivation de votre carte</title>
</head>
<body>
<div layout:fragment="content">
    <h2>
        <span th:text="#{card.disable.title}">Désactivation de votre carte</span>
        <a th:href="@{/user}" type="button" class="btn btn-primary pull-right" th:title="#{card.disable.info.title}">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </h2>

    <p th:utext="#{card.disable.intro}">
        Via ce formulaire, votre carte sera déclarée comme désactivée ...
    </p>

    <p th:text="#{card.disable.can.reactivate}">
        Une fois désactivée, votre carte peut être réactivée depuis cette même interface.
    </p>

    <div class="alert alert-info">
        <strong th:text="#{card.disable.choose.reason}">Vous pouvez désactiver votre carte en cochant l'un des motifs suivants :</strong>
    </div>

    <div class="well">
        <form th:action="@{/user/disable}" method="post" id="cardDisableForm" class="edActionForm">
            <div th:each="motif, iStat : ${motifsList}" class="radio">
                <label th:for="'radio' + ${iStat.index}">
                    <input type="radio"
                           name="motif"
                           th:value="${motif}"
                           th:id="'radio' + ${iStat.index}"
                           th:checked="${iStat.index == 0}"/>
                    <span th:text="#{|user.motif.${motif}|}"></span>
                </label>
            </div>
            <br/>
            <input type="hidden" th:value="${id}" name="id"/>
            <div class="form-group">
                <button class="btn btn-success" type="submit" th:onclick="'return confirm(\'' + #{card.disable.confirm} + '\');'" th:text="#{card.disable.button}">Désactiver cette carte</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>