<!-- src/main/webapp/WEB-INF/thymeleaf/user/card-info.html -->
<!--/*@thymesVar id="user" type="org.esupportail.sgc.domain.User"*/-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{./layouts/user.html}">
    >
<div layout:fragment="content" th:if="${user!= null}">
    <h2>Informations Carte</h2>
    <div th:if="${message != null}">
        <div class="alert alert-danger">
            <strong th:text="${message}"></strong>
            <div th:if="${comment != null}">
                <br />
                <pre th:text="${comment}"></pre>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="well" id="allCards">
            <div class="row">
                <div class="col-lg-6">
                    <h3>Utilisateur</h3>
                    <dl class="dl-horizontal">
                        <dt>Prénom :</dt><dd th:text="${user.firstname}"></dd>
                        <dt>Nom :</dt><dd th:text="${user.name}"></dd>
                        <dt>Date de naissance :</dt>
                        <dd th:text="${#temporals.format(user.birthday, 'dd/MM/yyyy')}"></dd>
                        <dt>Date limite :</dt>
                        <dd th:text="${#temporals.format(user.dueDate, 'dd/MM/yyyy')}"></dd>
                        <dt>Email :</dt><dd th:text="${user.email}"></dd>
                        <th:block th:if="${!user.hasExternalCard}">
                            <th:block th:if="${displayFormParts['displayCrous'] or displayFormParts['enableCrous']}">
                                <dt>
                                    Services Crous/Izly
                                    <a href="#" data-toggle="tooltip" title="" data-original-title="Restauration CROUS, machines à café Izly ...">*</a> :
                                </dt>
                                <dd>
                                    <span th:text="${user.crous} ? 'Oui' : 'Non'"></span>&nbsp;
                                    <th:block th:if="${!user.crous}">
                                        <button type="button" class="btn btn-sm btn-warning" data-toggle="collapse" data-target="#crousCollapse">Modifier</button>
                                    </th:block>
                                </dd>
                                <th:block th:unless="${#strings.isEmpty(user.crousError)}">
                                    <dt class="fieldWs"><span class="badge alert-danger">!</span> Erreur Crous/Izly :</dt>
                                    <dd class="fieldWs">
                                        <span th:text="${user.crousError}"></span>
                                        <button type="button" class="btn btn-sm btn-warning" data-toggle="collapse" data-target="#disableCrousCollapse">Voir plus</button>
                                    </dd>
                                </th:block>
                            </th:block>
                            <th:block th:if="${displayFormParts['displayEuropeanCard'] or user.europeanStudentCard}">
                                <dt>Carte européenne :</dt>
                                <dd>
                                    <span th:text="${user.europeanStudentCard} ? 'Oui' : 'Non'"></span>&nbsp;
                                    <button type="button" class="btn btn-sm btn-warning" data-toggle="collapse" data-target="#europeanCollapse">Modifier</button>
                                </dd>
                            </th:block>
                            <dt>Diffusion photo pour usage interne :</dt>
                            <dd>
                                <span th:text="${user.difPhoto} ? 'Oui' : 'Non'"></span>&nbsp;
                                <button type="button" class="btn btn-sm btn-warning" data-toggle="collapse" data-target="#difPhotoCollapse">Modifier</button>
                            </dd>
                        </th:block>
                    </dl>
                    <!-- Collapse Diffusion Photo -->
                    <div class="collapse" id="difPhotoCollapse">
                        <form th:action="@{/user/difPhoto}" method="post" id="photoform">
                            <div class="alert alert-warning">
                                <strong>J’autorise la diffusion de la photo pour un usage interne:</strong>
                                <div class="form-group">
                                    <div class="radio">
                                        <label for="radio1">
                                            <input type="radio" name="diffusionphoto" id="radio1" value="true"
                                                   th:checked="${user.difPhoto}"/> Oui
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label for="radio2">
                                            <input type="radio" name="diffusionphoto" id="radio2" value="false"
                                                   th:checked="${!user.difPhoto}"/> Non
                                        </label>
                                    </div>
                                </div>
                                <input type="hidden" th:value="${user.eppn}" name="eppn"/>
                                <input type="submit" class="btn btn-success" value="Valider"/>
                            </div>
                        </form>
                    </div>
                    <!-- Collapse Crous Enable -->
                    <div class="collapse" id="crousCollapse">
                        <form th:action="@{/user/enableCrous}" method="post" id="crousForm">
                            <div class="alert alert-warning">
                                <strong>Je souhaite bénéficier des services Crous/Izly
                                    <a href="#" data-toggle="tooltip" title="" data-original-title="Restauration CROUS, machines à café IZLY, ...">*</a>
                                    sur ma léocarte.</strong>
                                <div class="alert alert-info">
                                    En acceptant, j’autorise l’établissement à transmettre les données : nom – prénom – code tarif – code société – adresse mail institutionnelle au service Crous/Izly, ces données étant obligatoires pour le fonctionnement du service.
                                </div>
                                <input type="submit" class="btn btn-success" value="Valider"/>
                            </div>
                        </form>
                    </div>
                    <!-- Collapse Crous Error -->
                    <div class="collapse" id="disableCrousCollapse">
                        <div class="alert alert-danger">
                            <div>
                                Une erreur est survenue lors de la synchronisation de votre compte avec la plateforme Crous/Izly.
                                <br/>Cette erreur a comme libellé : <b th:text="${user.crousError}"></b>
                                <br/>
                                Cette erreur peut avoir plusieurs origines : vous avez peut-être demandé à clôturer votre <a href="https://mon-espace.izly.fr">compte au niveau de l'espace
                                Crous/Izly</a> par exemple.
                                <br/>
                                Ce message d'erreur peut aussi indiquer, si vous êtes étudiant, que les données, issues d'un autre établissement dans lequel vous êtes également inscrit,
                                sont, au niveau du CROUS/IZLY, prioritaires à celles proposées par notre établissement.
                                <i>"Le compte a un rne prioritaire qui est différent du rne proposé"</i>.
                                <br/>
                                Aussi
                                <ul>
                                    <li th:if="${!user.crous}">
                                        Vous pouvez retenter de réactiver le crous via
                                        <button type="button" class="btn btn-sm btn-warning" data-toggle="collapse" data-target="#crousCollapse">cette même interface</button>
                                    </li>
                                    <li>Si vous n'utilisez pas les services Crous/Izly, cette erreur peut ne pas vous poser de problème.</li>
                                    <li>Si cette situation pose problème car vous souhaitez utiliser les services Crous/Izly avec votre compte et votre carte, vous pouvez contacter le
                                        Crous/Izly via <a href="https://help.izly.fr">https://help.izly.fr</a></li>
                                    <li th:if="${user.crous}">
                                        Si elle empêche l'activation/désactivation des autres services de la carte, vous pouvez désactiver cette synchronisation avec la plateforme Crous/Izly via le bouton ci-dessous
                                        (vous pourrez réactiver l'option Crous/Izly par la suite via cette même interface).
                                    </li>
                                </ul>
                            </div>
                            <th:block th:if="${user.crous}">
                                <form th:action="@{/user/disableCrous}" method="post" id="crousForm">
                                    <input type="submit" class="btn btn-danger" value="Désactiver l'option Crous/Izly"/>
                                </form>
                            </th:block>
                            <th:block th:if="${user.crousError == 'Le compte est cloturé' or user.crousError == 'Account is closed' or user.crousError == 'Le compte est cloturé sur izly'}">
                                <div>Votre compte CROUS/IZLY est ici clôturé (suite à une inactivité de celui-ci ou suite à votre demande auprès des services du CROUS par exemple) et vous
                                    pouvez demander depuis cette interface à le "déclôturer" pour
                                    pouvoir à nouveau l'utiliser.</div>
                                <form th:action="@{/user/unclose}" method="post" class="form-horizontal"
                                      onsubmit="return confirm('Vous confirmez vouloir voir votre compte CROUS/IZLY être déclôturé ?');">
                                    <button type="submit" class="btn btn-warning">Déclôturer mon compte CROUS/IZLY</button>
                                </form>
                            </th:block>
                        </div>
                    </div>
                    <!-- Collapse European Card -->
                    <div class="collapse" id="europeanCollapse">
                        <form th:if="${!user.europeanStudentCard}" th:action="@{/user/enableEuropeanCard}" method="post" id="europeanForm">
                            <div class="alert alert-warning">
                                <strong>Je souhaite adhérer au projet de carte étudiante européenne.</strong>
                                <input type="submit" class="btn btn-success" value="Valider"/>
                            </div>
                        </form>
                        <form th:if="${user.europeanStudentCard}" th:action="@{/user/disableEuropeanCard}" method="post" id="europeanForm">
                            <div class="alert alert-warning">
                                <strong>Je ne souhaite pas adhérer au projet de carte étudiante européenne.</strong>
                                <input type="submit" class="btn btn-danger" value="Valider"/>
                            </div>
                        </form>
                        <div th:utext="${europeanCardInfo}"></div>
                    </div>
                    <!-- Historique des paiements -->
                    <div th:unless="${payboxList.empty}">
                        <h4>Historique des paiements</h4>
                        <table class="table table-striped" id="tablePaybox">
                            <thead>
                                <tr><th>Date</th><th>Montant</th><th>Statut</th></tr>
                            </thead>
                            <tbody>
                                <tr th:each="transac : ${payboxList}">
                                    <td th:text="${#temporals.format(transac.transactionDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
                                    <td th:text="${transac.montantInt / 100} + ' €'"></td>
                                    <td th:text="${transac.erreur == '00000' ? 'PAYE' : 'NON PAYE'}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Cartes -->
                <div class="col-lg-6">
                    <h3>Cartes</h3>
                    <p th:if="${user.cards == null or user.cards.empty}">Aucune carte à afficher.</p>
                    <div th:each="card, iStat : ${user.cards}">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-primary">
                                <div class="panel-heading" role="tab" th:attr="id='headingOne'">
                                    <h5 class="panel-title">
                                        <a role="button" data-toggle="collapse"
                                           th:href="'#collapseCard' + ${iStat.index}"
                                           class="accordion-toggle"
                                           th:classappend="${(iStat.index == 0 or (card.etat.name != 'CADUC' and card.etat.name != 'DISABLED')) ? '' : 'collapsed'}"
                                           data-parent="#accordion">
                                            <span class="etat">
                                                <span th:text="#{|card.step.${card.etat}|}"></span> -
                                                <span th:text="${#temporals.format(card.dateEtat, 'dd/MM/yyyy')}"></span>
                                            </span>
                                        </a>
                                    </h5>
                                </div>
                                <div th:id="'collapseCard' + ${iStat.index}"
                                     th:class="'panel-collapse collapse' + ((iStat.index == 0 or (card.etat.name != 'CADUC' and card.etat.name != 'DISABLED')) ? ' in' : '')">
                                    <div class="panel-body">
                                        <div class="alert alert-success" th:if="${card.etat.name == 'NEW'}">
                                            <p th:utext="${configUserMsgs['newCardMsg']}"></p>
                                        </div>
                                        <div class="alert alert-success" th:if="${card.etat.name == 'REQUEST_CHECKED' or card.etat.name == 'ENCODED'}">
                                            <p th:utext="${configUserMsgs['checkedOrEncodedCardMsg']}"></p>
                                        </div>
                                        <div class="alert alert-success" th:if="${card.etat.name == 'REJECTED'}">
                                            <p th:utext="${configUserMsgs['rejectedCardMsg']}"></p>
                                        </div>
                                        <div class="alert alert-warning" th:if="${card.etat.name == 'ENABLED' and #strings.isEmpty(card.deliveredDate)}">
                                            <p th:utext="${not #strings.isEmpty(card.userAccount?.supannEtuId) ? configUserMsgs['enabledCardMsg'] : configUserMsgs['enabledCardPersMsg']}"></p>
                                        </div>
                                        <div class="alert alert-info"
                                             th:if="${livraison and !card.external and (card.etat.name == 'ENABLED' or card.etat.name == 'DISABLED') and #strings.isEmpty(card.deliveredDate)}">
                                            <p>
                                                Si votre carte vous a bien été remise, veuillez le signaler ci-dessous
                                                <form th:action="@{/user/deliver/{cardId}(cardId=${card.id})}" method="post">
                                                    <button class="btn btn-warning" type="submit">Noter comme livrée</button>
                                                </form>
                                            </p>
                                        </div>
                                        <!-- Progression -->
                                        <div class="well"
                                             th:unless="${#lists.contains({'DISABLED','REJECTED','ENABLED','CADUC','CANCELED','DESTROYED'}, card.etat.name())}">
                                            <ul class="progress-indicator">
                                                <li th:each="step : ${stepsMap[card.id]}" th:class="${step.status}">
                                                    <span class="bubble" th:title="#{|card.step.${step.etat}|}">
                                                        <span class="textBubble" th:text="#{|card.step.${step.etat}|}"/>
                                                    </span>
                                                </li>
                                            </ul>
                                            <hr/>
                                        </div>
                                        <!-- Photo et infos carte -->
                                        <img class="img-thumbnail center col-lg-3" th:src="@{/user/photo/{id}(id=${card.id})}"/>
                                        <dl class="col-lg-9">
                                            <th:block th:unless="${card.crousSmartCard == null}">
                                                <dt>N° Crous :</dt>
                                                <dd th:text="${card.crousSmartCard.idZdc}"></dd>
                                                <th:block th:unless="${#strings.isEmpty(card.crousError)}">
                                                    <dt class="dl-horizontal col-lg-5"><span class="badge alert-danger">!</span> Erreur Crous/Izly :</dt>
                                                    <dd th:text="${card.crousError}"></dd>
                                                </th:block>
                                            </th:block>
                                            <th:block th:if="${card.printed}">
                                                <button class="preview btn btn-warning" th:attr="data-target='#previewCarte' + ${iStat.index}" data-toggle="modal" type="button">Voir carte</button>
                                            </th:block>
                                            <th:block th:if="${displayVirtualCard and not #strings.isEmpty(card.qrcode) and (card.etat.name == 'REQUEST_CHECKED' or card.etat.name == 'ENCODED' or card.etat.name == 'ENABLED' or card.etat.name == 'DISABLED')}">
                                                <a class="preview btn btn-success" th:href="@{/user/card-bmp-b64(cardId=${card.id})}">
                                                    <span class="glyphicon glyphicon-fullscreen"></span>
                                                </a>
                                            </th:block>
                                            <dt>Csn :</dt><dd th:text="${card.csn}"></dd>
                                            <!-- Modal preview carte -->
                                            <div class="modal fade" th:id="'previewCarte' + ${iStat.index}">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
                                                            <h3 class="modal-title">Prévisualisation de la carte</h3>
                                                        </div>
                                                        <div class="modal-body">
                                                            <th:block th:with="currentTemplate=${card.templateCard != null ? card.templateCard : userTemplateCard},
                                                                              cssId=${'specimenCarte' + iStat.index},
                                                                              css=${#strings.replace(currentTemplate.cssStyle, 'specimenCarte', cssId)},
                                                                              cssMobileStyle=${#strings.replace(currentTemplate.cssMobileStyle, 'specimenCarte', cssId)}">
                                                                <style>
                                                                    @media screen {
                                                                        #[[${cssId}]] {
                                                                            background: url([[${'/user/templatePhoto/masque/' + currentTemplate.id}]]);
                                                                            line-height: 1;
                                                                        }
                                                                    }
                                                                    #[[${cssId}]] * {
                                                                        -webkit-box-sizing: content-box;
                                                                        -moz-box-sizing: content-box;
                                                                        box-sizing: content-box;
                                                                    }
                                                                </style>
                                                                <style id="mainStyle">
                                                                    @media screen and (min-width: 451px) {
                                                                        [[${css}]]
                                                                    }
                                                                    @media screen and (max-width: 450px) {
                                                                        [[${cssMobileStyle}]]
                                                                    }
                                                                </style>
                                                                <div th:id="${cssId}">
                                                                    <div id="left">
                                                                        <p id="recto1" th:utext="${card.recto1Printed}"></p>
                                                                        <p id="recto2" th:utext="${card.recto2Printed}"></p>
                                                                        <p id="recto3" th:utext="${card.recto3Printed}"></p>
                                                                        <p id="recto4" th:utext="${card.recto4Printed}"></p>
                                                                        <p id="recto5" th:utext="${card.recto5Printed}"></p>
                                                                        <p id="recto6" th:utext="${card.recto6Printed}"></p>
                                                                        <p id="recto7" th:utext="${card.recto7Printed}"></p>
                                                                        <img alt="qrcode" id="qrcode" th:src="@{/user/templatePhoto/qrCode/{id}(id=${currentTemplate.id})}"/>
                                                                    </div>
                                                                    <div id="right">
                                                                        <img id="photo" th:src="@{/user/photo/{id}(id=${card.id})}"/>
                                                                        <img id="logo-ur" th:src="@{/user/templatePhoto/logo/{id}(id=${currentTemplate.id})}"/>
                                                                    </div>
                                                                </div>
                                                            </th:block>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button aria-hidden="true" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <dt>Date de demande :</dt>
                                            <dd th:text="${#temporals.format(card.requestDate, 'dd/MM/yyyy')}"></dd>
                                            <dt th:if="${livraison and not #strings.isEmpty(card.deliveredDate)}">Date de livraison :</dt>
                                            <dd th:if="${livraison and not #strings.isEmpty(card.deliveredDate)}" th:text="${#temporals.format(card.deliveredDate, 'dd/MM/yyyy')}"></dd>
                                            <dt>Date limite :</dt>
                                            <dd th:text="${#temporals.format(card.dueDate, 'dd/MM/yyyy')}"></dd>
                                            <dt th:unless="${#strings.isEmpty(card.commentaire)}">Message :</dt>
                                            <dd th:unless="${#strings.isEmpty(card.commentaire)}" th:text="${card.commentaire}"></dd>
                                            <th:block th:if="${!card.external}">
                                                <dt th:if="${card.etat.name == 'ENABLED'}">
                                                    <form th:action="@{/user/card-disable}" method="post">
                                                        <input type="hidden" th:value="${card.id}" name="id"/>
                                                        <input type="submit" class="btn btn-danger" value="Désactiver"/>
                                                    </form>
                                                </dt>
                                                <dt th:if="${card.etat.name == 'DISABLED'}">
                                                    <form th:action="@{/user/enable}" method="post" id="enableForm" class="edActionForm">
                                                        <input type="hidden" th:value="${card.id}" name="id"/>
                                                        <input type="submit" class="btn btn-danger" value="Réactiver" onclick="return confirm('Confirmez la réactivation');"/>
                                                    </form>
                                                </dt>
                                                <dt th:if="${card.etat.name == 'ENCODED'}">
                                                    <form th:action="@{/user/enable}" method="post">
                                                        <input type="hidden" th:value="${card.id}" name="id"/>
                                                        <input type="submit" class="btn btn-danger" value="activer" onclick="return confirm('Confirmez l\'activation');"/>
                                                    </form>
                                                </dt>
                                                <div class="alert alert-warning" th:if="${card.etat.name == 'REJECTED'}">
                                                    Votre demande a été rejetée.
                                                    <p>Veuillez modifier votre demande.</p>
                                                </div>
                                                <dt th:if="${card.etat.name == 'REJECTED'}">
                                                    <form th:action="@{/user/rejectedCase}" method="post">
                                                        <input type="hidden" th:value="${card.id}" name="id"/>
                                                        <input type="submit" class="btn btn-danger" value="Modifier"/>
                                                    </form>
                                                </dt>
                                            </th:block>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Colonne droite -->
    <div class="col-lg-4">
        <th:block th:if="${!user.hasExternalCard}">
            <th:block sec:authorize="hasRole('ROLE_PREVIOUS_ADMINISTRATOR')">
                <div class="alert alert-danger" th:if="${!displayFormParts['isFreeRenewal']}">
                    <span th:utext="${configUserMsgs['userFreeForcedRenewal']}"></span>
                    <form th:action="@{/user/forcedFreeRenewal}" method="post">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Confirmez la modification');">Changer les droits</button>
                    </form>
                </div>
            </th:block>
            <div class="alert alert-info" th:utext="${configUserMsgs['helpMsg']}"></div>
            <th:block th:if="${displayFormParts['hasDeliveredCard']}">
                <div class="alert alert-danger" th:if="${displayFormParts['hasDeliveredCard']}" th:utext="${configUserMsgs['userTipMsg']}"></div>
                <div class="alert alert-info" th:if="${displayFormParts['isFreeRenewal']}">
                    <p th:utext="${configUserMsgs['freeRenewalMsg']}"></p>
                    <a th:href="@{/user/card-request-form}" class="btn btn-danger">Formulaire de renouvellement de carte</a>
                </div>
                <div class="alert alert-info" th:if="${displayFormParts['canPaidRenewal']}">
                    <span th:utext="${configUserMsgs['canPaidRenewalMsg']}"></span>
                    <a th:href="@{/user/card-payment}" class="btn btn-primary">Accéder au paiement</a>
                </div>
                <div class="alert alert-info" th:if="${displayFormParts['isPaidRenewal']}">
                    <span th:utext="${configUserMsgs['paidRenewalMsg']}"></span>
                    <a th:href="@{/user/card-request-form}" class="btn btn-warning">Formulaire de renouvellement de carte</a>
                </div>
            </th:block>
        </th:block>
    </div>
</div>
</html>