<!-- src/main/webapp/WEB-INF/thymeleaf/fragments/message.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="messageModal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     th:fragment="message">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Message</h3>
            </div>
            <div class="modal-body">
                <div th:if="${messageSuccess != null or param.messageSuccess != null}">
                    <div id="dialog" title="Information" class="text-danger">
                        <div class="alert alert-success">
                            <span th:text="#{${messageSuccess != null ? messageSuccess : param.messageSuccess}}"></span>
                            <span th:text="${messageAddon != null ? messageAddon : param.messageAddon}"></span>
                        </div>
                    </div>
                </div>
                <div th:if="${messageWarning != null or param.messageWarning != null}">
                    <div id="dialog" title="Information" class="text-danger">
                        <div class="alert alert-warning">
                            <span th:text="#{${messageWarning != null ? messageWarning : param.messageWarning}}"></span>
                            <span th:text="${messageAddon != null ? messageAddon : param.messageAddon}"></span>
                        </div>
                    </div>
                </div>
                <div th:if="${messageError != null or param.messageError != null}">
                    <div id="dialog" title="Information" class="text-danger">
                        <div class="alert alert-danger">
                            <span th:text="#{${messageError != null ? messageError : param.messageError}}"></span>
                            <span th:text="${messageAddon != null ? messageAddon : param.messageAddon}"></span>
                        </div>
                    </div>
                </div>
                <div th:if="${messageInfo != null or param.messageInfo != null}">
                    <div id="dialog" title="Information" class="text-danger">
                        <div class="alert alert-info">
                            <span th:text="#{${messageInfo != null ? messageInfo : param.messageInfo}}"></span>
                            <span th:text="${messageAddon != null ? messageAddon : param.messageAddon}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
</html>