<!-- src/main/webapp/WEB-INF/thymeleaf/templates/index.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user.html}">
<head>
    <meta charset="UTF-8"/>
    <title>Accueil - Esup SGC</title>
</head>
<body>
<div layout:fragment="content" class="col-lg-12">
    <div id="lastleoauth"><!--  --></div>
    <div id="debug"><!--  --></div>
    <br/>
    <div sec:authorize="!isAuthenticated()">
        <h1>Bienvenue sur l'application Esup SGC, merci de vous authentifier</h1>
        <a class="nounderline" th:href="@{/login}">
            <div id="div-co-myfederation" class="well">
                <h3>Authentification<span class="glyphicon glyphicon-arrow-right pull-right"></span></h3>
            </div>
        </a>
    </div>
</div>
</body>
</html>