<!-- src/main/webapp/WEB-INF/thymeleaf/templates/admin/templatecards/list.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user.html}">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{templatecards.title}">Thèmes carte</title>
</head>
<body>
<div id="templateCardsList" layout:fragment="content"
     th:with="photoLocalPrefix=@{/admin/templatecards/photo/}, createUrl=@{/admin/templatecards?form}">
    <h2>
        <span th:text="#{templatecards.title}">Thèmes carte</span>
        <a class="btn btn-primary" th:href="${createUrl}">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </h2>
    <div>
        <table class="table table-bordered table-striped" id="l_org_esupportail_sgc_domain_TemplateCard">
            <thead>
                <tr>
                    <th th:text="#{common.name}">Nom</th>
                    <th th:text="#{common.key}">Clé</th>
                    <th th:text="#{common.version}">Version</th>
                    <th th:text="#{common.mask}">Masque</th>
                    <th th:text="#{common.logo}">Logo</th>
                    <th th:text="#{common.qrcode}">QR Code</th>
                    <th th:text="#{common.barcode}">Code barres</th>
                    <th th:text="#{common.css}">Style CSS</th>
                    <th th:text="#{common.css.mobile}">Css mobile</th>
                    <th th:text="#{common.modifier}">Modificateur</th>
                    <th th:text="#{common.modification.date}">Date modification</th>
                    <th data-type="html" class="" th:text="#{common.view}">Voir</th>
                    <th data-type="html" class="" th:text="#{common.edit}">Modifier</th>
                    <th data-type="html" class="" th:text="#{common.delete}">Supprimer</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tc : ${templatecards}">
                    <td th:text="${tc.name}"></td>
                    <td th:text="${tc.key}"></td>
                    <td th:text="${tc.numVersion}"></td>
                    <td class="photo centerCell">
                        <img th:src="${photoLocalPrefix + 'masque/' + tc.id}" th:alt="#{common.mask}" style="max-height:40px;"/>
                    </td>
                    <td class="photo centerCell">
                        <img th:src="${photoLocalPrefix + 'logo/' + tc.id}" th:alt="#{common.logo}" style="max-height:40px;"/>
                    </td>
                    <td class="photo centerCell">
                        <img th:src="${photoLocalPrefix + 'qrCode/' + tc.id}" th:alt="#{common.qrcode}" style="max-height:40px;"/>
                    </td>
                    <td class="centerCell">
                        <span th:if="${tc.codeBarres}" class="glyphicon glyphicon-ok text-success"></span>
                        <span th:if="${!tc.codeBarres}" class="glyphicon glyphicon-remove text-danger"></span>
                    </td>
                    <td th:text="${#strings.abbreviate(tc.cssStyle, 50)}"></td>
                    <td th:text="${#strings.abbreviate(tc.cssMobileStyle, 50)}"></td>
                    <td th:text="${tc.modificateur}"></td>
                    <td th:text="${#temporals.format(tc.dateModification, templateCard_datemodification_date_format)}"></td>
                    <td>
                        <a class="btn btn-success" th:href="@{/admin/templatecards/{id}(id=${tc.id})}">
                            <span class="glyphicon glyphicon-cd"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/admin/templatecards/{id}(id=${tc.id}, form=true)}">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </td>
                    <td>
                        <form th:action="@{/admin/templatecards/{id}(id=${tc.id}}" th:method="DELETE" class="form-inline">
                            <button class="btn btn-danger" type="submit" th:onclick="|return confirm('#{templatecards.confirm.delete}')|">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>