<!-- src/main/resources/templates/manager/includes/megamenu.html -->
<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     th:fragment="megamenu">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="collapse navbar-collapse" id="searchCollapse">
            <div class="alert alert-info" id="searchBar">
                <form th:action="@{/manager}" method="get" class="navbar-form navbar-left form-inline" role="search" id="searchEppnForm" th:object="${searchBean}">
                    <div class="form-group">
                        <label style="display:none" th:text="#{megamenu.state}">-- Etat --</label>
                        <select th:field="*{etat}" id="searchBeanEtat" class="megamenu">
                            <option value="" data-placeholder="true"></option>
                            <option th:each="etat : ${etats}" th:value="${etat}" th:text="#{|card.step.${etat}|}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label style="display:none" th:text="#{megamenu.address}">-- Adresse --</label>
                        <select th:field="*{address}" id="searchBeanAdress" class="megamenu">
                            <option value="" data-placeholder="true"></option>
                            <option th:each="address : ${addresses}" th:value="${address.key}" th:text="${address.value}"></option>
                        </select>
                    </div>
                    <div class="" style="display:none">
                        <select th:field="*{type}" id="searchBeanType" class="megamenu">
                            <option value="" th:text="#{megamenu.population}">-- Population --</option>
                            <option th:each="type : ${types}" th:value="${type}" th:text="#{|manager.type.${type}|}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label style="display:none" th:text="#{megamenu.last.theme}">-- Dernier thème --</label>
                        <select th:field="*{lastTemplateCardPrinted.id}" id="searchBeanLastTemplateCardPrinted" class="megamenu">
                            <option value="" data-placeholder="true"></option>
                            <option th:each="tpl : ${lastTemplateCardsPrinted}" th:value="${tpl.id}" th:text="${tpl}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label style="display:none" th:text="#{megamenu.status}">-- Statut --</label>
                        <select th:field="*{editable}" id="searchBeanEditable" class="megamenu">
                            <option value="" data-placeholder="true"></option>
                            <option value="true" th:text="#{common.editable}">Editable</option>
                            <option value="false" th:text="#{megamenu.not.editable}">Non editable</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label style="display:none" th:text="#{megamenu.management}">-- Gestion --</label>
                        <select th:field="*{ownOrFreeCard}" id="searchBeanOwnOrFreeCard" class="megamenu">
                            <option value="" data-placeholder="true"></option>
                            <option value="true" th:text="#{megamenu.free.or.mine}">Libres ou gérées par moi</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label style="display:none" th:text="#{megamenu.card.count}">-- Nb Cartes --</label>
                        <select th:field="*{nbCards}" id="searchBeanNbCards" class="megamenu">
                            <option value="" data-placeholder="true"></option>
                            <option th:each="nbCard : ${nbCards}" th:value="${nbCard}" th:text="${nbCard} + ' ' + #{common.cards.suffix}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label style="display:none" th:text="#{megamenu.reject.count}">-- Nb Rejets --</label>
                        <select th:field="*{nbRejets}" id="searchBeanNbRejets" class="megamenu">
                            <option value="" data-placeholder="true"></option>
                            <option th:each="nbRejet : ${nbRejets}" th:value="${nbRejet}" th:text="${nbRejet} + ' ' + #{common.rejects.suffix}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label style="display:none" th:text="#{megamenu.address.type}">-- Type adresse --</label>
                        <select th:field="*{flagAdresse}" id="searchBeanFlagAdresse" class="megamenu">
                            <option value="" data-placeholder="true"></option>
                            <option value="INT" th:text="#{megamenu.address.internal}">Adresse interne</option>
                            <option value="EXT" th:text="#{megamenu.address.external}">Adresse externe</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label style="display:none" th:text="#{megamenu.current.request}">-- Demande en cours --</label>
                        <select th:field="*{hasRequestCard}" id="searchBeanHasRequestCard" class="megamenu">
                            <option value="" data-placeholder="true"></option>
                            <option value="true" th:text="#{megamenu.yes}">oui</option>
                            <option value="false" th:text="#{megamenu.no}">non</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control megamenu" th:placeholder="#{megamenu.search.placeholder}" id="searchEppn" th:field="*{searchText}"/>
                    </div>
                    <button type="submit" class="btn btn-success">OK</button>
                    <button type="button" class="btn btn-danger" id="nofilter" th:title="#{megamenu.remove.filters}">
                        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#advancedSearch" th:text="#{megamenu.more.filters}">+ de filtres</button>
                    <div class="col-lg-12" id="advancedSearch" th:classappend="${#maps.isEmpty(searchBean.freeField) ? 'collapse' : ''}">
                        <div th:each="item, status : ${nbFields}">
                            <div class="col-lg-2">
                                <label style="display:none" th:text="#{megamenu.free.field}">-- Champ libre --</label>
                                <select th:field="*{freeField[__${status.index}__]}" class="freeSelect" data-width="fit" data-dropup-auto="false" data-live-search="true" th:id="'fields' + ${status.index}">
                                    <option value="" data-placeholder="true"></option>
                                    <option th:each="field : ${freeFields}" th:value="${field.key}" th:text="${field.value}"></option>
                                </select>
                            </div>
                            <div class="col-lg-2">
                                <label style="display:none" th:text="#{megamenu.free.field.results}">-- Champ libre : résultats -</label>
                                <select multiple="multiple" data-dropup-auto="false" data-live-search="true" th:name="'freeFieldValue[' + ${status.index} + ']'" th:id="'freeFieldValue' + ${status.index}" data-size="15" class="megamenu">
                                    <option value="" data-placeholder="true"></option>
                                </select>
                            </div>
                        </div>
                        <div sec:authorize="hasRole('ROLE_ADMIN')">
                            <input type="checkbox" name="zipExport" id="zipExport" />
                            <label for="zipExport" th:text="#{megamenu.export.zip}">Export ZIP</label>
                        </div>
                    </div>
                </form>

                <!-- Modal CSV fields selection -->
                <div class="modal fade" tabindex="-1" role="dialog" id="modalFields">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" th:label="#{common.close}">
                                    <span aria-hidden="true" th:utext="#{common.times}">&times;</span>
                                </button>
                                <h4 class="modal-title" th:text="#{megamenu.export.fields}">Champs à exporter</h4>
                            </div>
                            <div class="modal-body">
                                <form th:action="@{/manager/csvSearch}" id="searchCsvForm" th:object="${searchBean}">
                                    <label>
                                        <input type="checkbox" id="selectAllFields" checked="checked" />
                                        <strong th:text="#{megamenu.select.all}">Tout (dé)sélectionner</strong>
                                    </label>
                                    <div th:each="field : ${csvFields}">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"
                                                       th:id="'fields_' + ${field}"
                                                       class="caseField"
                                                       name="fields"
                                                       th:value="${field}"
                                                       checked="checked" />
                                                <strong th:text="#{|card.csv.${field}|}">Libellé</strong>
                                            </label>
                                        </div>
                                    </div>
                                    <input type="hidden" id="address" name="address"
                                           th:value="${searchBean.address != null ? searchBean.address : ''}" />
                                    <input type="hidden" id="type" name="type"
                                           th:value="${searchBean.type != null ? searchBean.type : ''}" />
                                    <input type="hidden" id="etat" name="etat"
                                           th:value="${searchBean.etat != null ? searchBean.etat : ''}" />
                                    <input type="hidden" id="editable" name="editable"
                                           th:value="${searchBean.editable != null ? searchBean.editable : ''}" />
                                    <input type="hidden" id="ownOrFreeCard" name="ownOrFreeCard"
                                           th:value="${searchBean.ownOrFreeCard != null ? searchBean.ownOrFreeCard : ''}" />
                                    <input type="hidden" id="nbCards" name="nbCards"
                                           th:value="${searchBean.nbCards != null ? searchBean.nbCards : ''}" />
                                    <input type="hidden" id="nbRejets" name="nbRejets"
                                           th:value="${searchBean.nbRejets != null ? searchBean.nbRejets : ''}" />
                                    <input type="hidden" id="flagAdresse" name="flagAdresse"
                                           th:value="${searchBean.flagAdresse != null ? searchBean.flagAdresse : ''}" />
                                    <input type="hidden" id="searchText" name="searchText"
                                           th:value="${searchBean.searchText != null ? searchBean.searchText : ''}" />
                                    <hr />
                                    <div th:each="filtre, status : ${csvFiltres}">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"
                                                       th:id="'fields_' + ${filtre}"
                                                       class="caseField"
                                                       name="fields"
                                                       th:value="${filtre}"
                                                       checked="checked" />
                                                <strong th:text="${filtre}">Filtre</strong>
                                            </label>
                                        </div>
                                        <input type="hidden"
                                               th:if="${searchBean.freeField != null}"
                                               th:id="'freeField' + ${status.index}"
                                               th:name="'freeField[' + ${status.index} + ']'"
                                               th:value="${searchBean.freeField[status.index]}" />

                                        <div th:if="${fieldsValueEncoded != null}">
                                            <div th:each="entry : ${fieldsValueEncoded}">
                                                <div th:if="${entry.key == status.index}">
                                                    <div th:each="entry2 : ${entry.value}">
                                                        <input type="hidden"
                                                               th:id="'freeFieldValue' + ${entry.key}"
                                                               th:name="'freeFieldValue[' + ${entry.key} + ']'"
                                                               th:value="${entry2}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <hr />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{common.close}">Fermer</button>
                                <button type="button" id="downloadOk" class="btn btn-primary" th:text="#{megamenu.download}">Télécharger</button>
                            </div>
                        </div>
                    </div>
                </div>

                <hr />
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div id="traitementLot">
            <!--  -->
        </div>
    </div>
</div>