<!-- src/main/webapp/WEB-INF/thymeleaf/templates/admin/groupsroles.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user.html}">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{common.roles}">Groupes et rôles</title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="#{common.roles}">Groupes et rôles</h2>
    <form th:action="@{/admin/groupsroles}" method="get">
        <div class="jumbotron">
            <div class="form-group">
                <label for="searchEppn" class="control-label col-lg-3 col-md-3 col-xs-6" th:text="#{common.eppn.target}">Entrez l'EPPN de l'utilisateur cible :</label>
                <div class="col-lg-2 col-md-2 col-xs-4">
                    <input type="text" class="form-control" th:placeholder="#{common.eppn}" id="searchEppn" name="eppn" maxlength="100" th:value="${eppn}"/>
                </div>
                <button type="submit" class="btn btn-success col-lg-1 col-md-1" th:text="#{groupsroles.title}">Test Groupes/Rôles</button>
            </div>
        </div>
    </form>
    <div class="panel-body">
        <div class="col-lg-3">
            <h3><span th:text="#{groupsroles.groups.of}">Groupes de</span> <span th:text="${eppn}"></span></h3>
            <div th:each="groupsEntry : ${groupsMap}">
                <h4>
                    <span th:text="${groupsEntry.key}"></span>
                    <span th:text="${durations[groupsEntry.key]} + 'ms'"></span>
                </h4>
                <ul>
                    <li th:each="group : ${groupsEntry.value}" th:text="${group}"></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3">
            <h3><span th:text="#{groupsroles.roles.of}">Rôles de</span> <span th:text="${eppn}"></span> - <span th:text="${rolesDuration} + 'ms'"></span></h3>
            <ul>
                <li th:each="role : ${roles}" class="bold" th:text="${role}"></li>
            </ul>
            <h3><span th:text="#{groupsroles.effective.roles}">Rôles Effectifs de</span> <span th:text="${eppn}"></span> <span th:text="#{groupsroles.in.db}">(en BD actuellement, et implictes - admin->manager)</span></h3>
            <ul>
                <li th:each="role : ${rolesReachableDb}" class="bold" th:text="${role}"></li>
            </ul>
        </div>
        <div class="col-lg-3">
            <h3 th:text="#{groupsroles.groups.members}">Membres des groupes</h3>
            <div th:each="groupsEntry : ${groupsMembers}">
                <h4>
                    <span th:text="${groupsEntry.key}"></span>
                    <span th:text="${membersDurations[groupsEntry.key]} + 'ms'"></span>
                </h4>
                <dl>
                    <div th:each="group : ${groupsEntry.value}">
                        <dt th:text="${group.key}"></dt>
                        <dd><span th:text="${group.value}"></span> <span th:text="#{groupsroles.members}">membre(s)</span></dd>
                    </div>
                </dl>
            </div>
        </div>
        <div class="col-lg-3">
            <h3 th:text="#{groupsroles.roles.members}">Membres des rôles</h3>
            <dl th:each="role : ${rolesMembers}">
                <dt th:text="${role.key}"></dt>
                <dd><span th:text="${role.value}"></span> <span th:text="#{groupsroles.members}">membre(s)</span></dd>
            </dl>
        </div>
    </div>
</div>
</body>
</html>