<!-- src/main/webapp/WEB-INF/thymeleaf/templates/admin/import.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user.html}">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{common.import}">Import</title>
</head>
<body>
<div id="imports" layout:fragment="content">
    <h2 th:text="#{common.import}">Import</h2>
    <h3 th:text="#{common.csv}">Import CSV</h3>
    <div>
        <span th:text="#{import.csv.expected}">Le CSV attendu doit avoir une entête...</span>
        <pre>28/01/2015 14:40:35;14/06/2017 23:05:29;803412abcd5704;Autorisée;100020000002120;testju@univ-rouen.fr</pre>
        <span th:text="#{import.csv.format.desc}">qui correspondent à :</span>
        <pre th:text="#{import.csv.format}">date;date;CSN;crous;AccessControl;eppn</pre>
        <span th:text="#{import.csv.other.info}">Les autres informations sont récupérées...</span>
        <span th:text="#{import.csv.crous.ids}">(...via le CSN).</span>
    </div>

    <div class="well">
        <div th:if="${isInWorking}" th:text="#{common.importing}">
            Importation en cours ...
        </div>
        <form th:if="${!isInWorking}" th:action="@{/admin/import/importCsvFile}" method="post" enctype="multipart/form-data" th:object="${file}">
            <div class="form-group">
                <label for="import_csv_file" th:text="#{common.csv}">Import CSV</label>
                <input id="import_csv_file" name="file" required="required" type="file" class="form-control"/>
            </div>
            <div class="checkbox">
                <label>
                    <input name="inverseCsn" type="checkbox"/> <span th:text="#{import.csv.reverse.csn}">Inverser les CSN</span>
                </label>
            </div>
            <button type="submit" class="btn btn-success" th:text="#{common.validate}">Valider</button>
        </form>
    </div>

    <h3 th:text="#{common.zip}">Import ZIP</h3>
    <div th:text="#{import.zip.expected}">
        Le ZIP attendu correspond au ZIP généré par ESUP-SGC...
    </div>
    <div class="well">
        <div th:if="${isInWorkingZip}" th:text="#{common.importing}">
            Importation en cours ...
        </div>
        <form th:if="${!isInWorkingZip}" th:action="@{/admin/import/importZipFile}" method="post" enctype="multipart/form-data" th:object="${file}">
            <div class="form-group">
                <label for="import_zip_file" th:text="#{common.zip}">Import ZIP</label>
                <input id="import_zip_file" name="file" required="required" type="file" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-success" th:text="#{common.validate}">Valider</button>
        </form>
    </div>
</div>
</body>
</html>