<!-- src/main/webapp/WEB-INF/thymeleaf/templates/admin/javaperf.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user.html}">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{common.java.perf}">Performance / Java</title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="#{common.java.perf}">Performance / Java</h2>

    <div>
        <h3 th:text="#{javaperf.memory}">Memory</h3>
        <ul class="list">
            <li><span th:text="#{javaperf.max.memory}">max Memory :</span> <span th:text="${maxMemoryInMB}"></span> MB</li>
            <li><span th:text="#{javaperf.total.memory}">total Memory :</span> <span th:text="${totalMemoryInMB}"></span> MB</li>
            <li><span th:text="#{javaperf.free.memory}">free Memory :</span> <span th:text="${freeMemoryInMB}"></span> MB</li>
            <li><span th:text="#{javaperf.used.memory}">used Memory :</span> <span th:text="${usedMemoryInMB}"></span> MB</li>
        </ul>
    </div>

    <div>
        <h3 th:text="#{javaperf.db.pools}">Databases - pools de connexions</h3>
        <ul class="list">
            <li th:each="basicDataSource : ${basicDataSources}">
                <span th:text="${basicDataSource.url}"></span> :
                <ul>
                    <li><span th:text="#{javaperf.active}">active :</span> <span th:text="${basicDataSource.numActive}"></span></li>
                    <li><span th:text="#{javaperf.idle}">idle :</span> <span th:text="${basicDataSource.numIdle}"></span></li>
                    <li><span th:text="#{javaperf.max.idle}">max idle :</span> <span th:text="${basicDataSource.maxIdle}"></span></li>
                </ul>
            </li>
        </ul>
    </div>

    <div>
        <h3 th:text="#{javaperf.ldap.pools}">Ldap - pools de connexions</h3>
        <ul class="list">
            <li th:each="ldapContextSource : ${ldapContextSources}">
                <span th:text="${ldapContextSource.value}"></span> /
                <span th:text="${ldapContextSource.key.baseLdapPathAsString}"></span> :
                <ul>
                    <li><span th:text="#{javaperf.active}">active :</span> <span th:text="${ldapContextSource.key.numActive}"></span></li>
                    <li><span th:text="#{javaperf.idle}">idle :</span> <span th:text="${ldapContextSource.key.numIdle}"></span></li>
                    <li><span th:text="#{javaperf.max.active}">max active :</span> <span th:text="${ldapContextSource.key.maxActive}"></span></li>
                    <li><span th:text="#{javaperf.max.idle}">max idle :</span> <span th:text="${ldapContextSource.key.maxIdle}"></span></li>
                </ul>
            </li>
        </ul>
    </div>

    <div>
        <h3 th:text="#{javaperf.threads}">Threads</h3>
        <ul class="list">
            <li>
                <span th:text="${javaPerfWrapper.threadCount}"></span> <span th:text="#{javaperf.threads.current}">threads en cours</span>
                <ul>
                    <li th:each="threadState : ${threadStateCount}"
                        th:classappend="${threadState.key == 'RUNNABLE'} ? 'alert-warning' : (${threadState.key == 'BLOCKED'} ? 'alert-danger' : '')"
                        th:text="${threadState.key} + ' : ' + ${threadState.value}"></li>
                </ul>
            </li>
            <li><span th:text="#{javaperf.threads.peak}">avec un pic de</span> <span th:text="${javaPerfWrapper.peakThreadCount}"></span> <span th:text="#{javaperf.threads.label}">threads</span></li>
            <li><span th:text="#{javaperf.threads.current.num}">(num. thread courant :</span> <span th:text="${currentThreadId}"></span>)</li>
        </ul>

        <table class="table table-striped">
            <tr>
                <th th:text="#{javaperf.thread.id}">Thread Id</th>
                <th th:text="#{javaperf.thread.name}">Thread Name</th>
                <th th:text="#{javaperf.thread.state}">Thread State</th>
                <th th:text="#{javaperf.blocked.count}">Blocked Count</th>
                <th th:text="#{javaperf.blocked.time}">Blocked Time</th>
                <th th:text="#{javaperf.waited.count}">Waited Count</th>
                <th th:text="#{javaperf.waited.time}">Waited Time</th>
                <th th:text="#{javaperf.stack.trace}">Stack Trace</th>
            </tr>

            <tr th:each="threadInfo : ${javaPerfWrapper.threadInfoWrappers}"
                th:classappend="${currentThreadId eq threadInfo.threadId ? 'success' : (threadInfo.threadState eq 'RUNNABLE' ? 'warning' : (threadInfo.threadState eq 'BLOCKED' ? 'danger' : ''))}">
                <td th:text="${threadInfo.threadId}"></td>
                <td th:text="${threadInfo.threadName}"></td>
                <td th:text="${threadInfo.threadState}"></td>
                <td th:text="${threadInfo.blockedCount}"></td>
                <td th:text="${threadInfo.blockedTime}"></td>
                <td th:text="${threadInfo.waitedCount}"></td>
                <td th:text="${threadInfo.waitedTime}"></td>
                <td>
                    <span th:each="stackTrace : ${threadInfo.stackTrace}">
                        <span th:text="${stackTrace.className} + '.' + ${stackTrace.methodName} + '(' + ${stackTrace.fileName} + ':' + ${stackTrace.lineNumber} + ')'"></span><br/>
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>