<!-- src/main/webapp/WEB-INF/thymeleaf/templates/admin/purge.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user.html}">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{purge.title}">Purge</title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="#{purge.cards.title}">Purge des cartes</h2>
    <div class="row">
        <div class="col-lg-1" th:utext="#{common.nbsp}">&nbsp;</div>
        <div class="col-lg-10">
            <form th:action="@{/admin/purge}" class="form-horizontal" method="post">
                <div class="well">
                    <span th:text="#{purge.cards.delete.all}">Supprimer toutes les</span>
                    <select name="etat" id="etatPurge">
                        <option th:each="etat : ${etatsPurgeable}" th:value="${etat}" th:text="#{|card.step.${etat}|}"></option>
                    </select>
                    <hr/>
                    <span th:text="#{purge.cards.for.type}">Pour les utilisateurs du type</span>
                    <select name="userType" id="userTypePurge">
                        <option value="" th:text="#{common.all}">Tous</option>
                        <option th:each="type : ${userTypes}" th:value="${type}" th:text="#{|manager.type.${type}|}"></option>
                    </select>
                    <hr/>
                    <span th:text="#{purge.cards.before}">Avant le</span>
                    <input type="date" name="date" th:value="${#temporals.format(datePurge, 'yyyy-MM-dd')}" id="datePurge"/>
                </div>
                <strong id="card2purgeNb"></strong>
                <hr/>
                <div class="form-group">
                    <button class="btn btn-danger" type="submit" name="action" value="purger"
                            th:onclick="|return confirm('#{purge.cards.confirm}')|" th:text="#{purge.cards.description}">
                        Purger/Supprimer les cartes correspondantes de la base de données.
                    </button>
                </div>
            </form>
        </div>
    </div>

    <h2 th:text="#{purge.users.title}">Purge des utilisateurs</h2>
    <div class="row">
        <div class="col-lg-1" th:utext="#{common.nbsp}">&nbsp;</div>
        <div class="col-lg-10">
            <strong><span th:text="${userWithNoCardsNb}"></span> <span th:text="#{purge.users.count}">utilisateurs en base sans cartes associées.</span></strong>
            <form th:action="@{/admin/purge(users='')}" class="form-horizontal" method="post">
                <div class="form-group">
                    <button class="btn btn-danger" type="submit" name="action" value="purger"
                            th:onclick="|return confirm('#{purge.users.confirm}')|" th:text="#{purge.users.description}">
                        Supprimer tous les utilisateurs de la base qui n'ont pas/plus de cartes.
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        let purgeUrl = "[[@{/admin/purge/count}]]";
        let cartesAPurgerText = /*[[#{purge.cards.to.purge}]]*/ "carte(s) à purger";
        let updateUserCardsNb = function () {
            let etatPurge = document.getElementById("etatPurge").value;
            let userTypePurge = document.getElementById("userTypePurge").value;
            let datePurge = document.getElementById("datePurge").value;
            let request = new XMLHttpRequest();
            request.open('GET', purgeUrl + "?etat=" + etatPurge + "&userType=" + userTypePurge + "&date=" + datePurge, true);
            request.onload = function() {
                if (request.status == 200) {
                    let nbCards = this.response;
                    let card2purgeNbBlock = document.getElementById("card2purgeNb");
                    card2purgeNbBlock.innerHTML = nbCards + " " + cartesAPurgerText;
                }
            };
            request.send();
        }
        document.getElementById("etatPurge").addEventListener("change", updateUserCardsNb);
        document.getElementById("datePurge").addEventListener("change", updateUserCardsNb);
        document.getElementById("userTypePurge").addEventListener("change", updateUserCardsNb);
        updateUserCardsNb();
    </script>
</div>
</body>
</html>