<!-- src/main/webapp/WEB-INF/thymeleaf/templates/admin/jwsdevices/list.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      layout:decorate="~{layouts/user.html}">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{jwsdevices.title}">Esup Nfc - Appareils JWS</title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="#{menu.esupnfc}">Esup Nfc</h2>
    <div>
        <table class="table table-bordered table-striped" id="l_org_esupportail_sgc_domain_EsupNfcSgcJwsDevice">
            <thead>
                <tr>
                    <th><a class="sorting" sd:pagination-sort="eppnInit" th:text="#{common.eppn.init}">Eppn Init</a></th>
                    <th><a class="sorting" sd:pagination-sort="numeroId" th:text="#{common.id}">Numéro Id</a></th>
                    <th th:text="#{common.edit}">Modifier</a></th>
                    <th th:text="#{common.delete}">Supprimer</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="device : ${esupnfcsgcjwsdevices}">
                    <td th:text="${device.eppnInit}"></td>
                    <td th:text="${device.numeroId}"></td>
                    <td>
                        <a th:href="@{/admin/jwsdevices/{id}(id=${device.id},form=true)}" class="btn btn-primary">
                            <span class="glyphicon glyphicon-edit"></span> <span th:text="#{common.edit}">Modifier</span>
                        </a>
                    </td>
                    <td>
                        <form th:action="@{/admin/jwsdevices/{id}(id=${device.id})}" th:method="delete" class="form-inline">
                            <button type="submit" class="btn btn-danger" th:onclick="|return confirm('#{jwsdevices.confirm.delete}')|">
                                <span class="glyphicon glyphicon-trash"></span> <span th:text="#{common.delete}">Supprimer</span>
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
         <div class="text-center">
             <nav>
                <div class="btn-group">
                    <div class="btn-group dropup" sd:page-size-selector="dropdown" style="margin-top: 20px"></div>
                    <ul class="btn-group pagination" sd:pagination="full"></ul>
                </div>
            </nav>
        </div>
    </div>
</div>
</body>
</html>