<!-- src/main/webapp/WEB-INF/thymeleaf/templates/user/includes/form_cnil.html -->
<div th:fragment="form_cnil" th:if="${displayFormParts['displayCnil']}">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border" th:text="#{form.cnil.photo.sharing}">Diffusion de la photo</legend>
        <div class="alert alert-warning" th:text="#{common.photo.auth}">J'autorise la diffusion de la photo pour un usage interne:</div>
        <div class="radio">
            <label for="radioCnil1">
                <input type="radio" name="difPhotoTransient" id="radioCnil1" value="true"/>
                <span th:text="#{common.yes}">Oui</span>
            </label>
        </div>
        <div class="radio">
            <label for="radioCnil2">
                <input type="radio" name="difPhotoTransient" id="radioCnil2" value="false"/>
                <span th:text="#{common.no}">Non</span>
            </label>
        </div>
    </fieldset>
</div>