<!-- src/main/webapp/WEB-INF/thymeleaf/templates/user/includes/form_cnil.html -->
<div th:fragment="form_cnil" th:if="${displayFormParts['displayCnil']}">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Diffusion de la photo</legend>
        <div class="alert alert-warning">J’autorise la diffusion de la photo pour un usage interne:</div>
        <div class="radio">
            <label for="radioCnil1">
                <input type="radio" name="difPhotoTransient" id="radioCnil1" value="true"/>
                Oui
            </label>
        </div>
        <div class="radio">
            <label for="radioCnil2">
                <input type="radio" name="difPhotoTransient" id="radioCnil2" value="false"/>
                Non
            </label>
        </div>
    </fieldset>
</div>