<!-- src/main/webapp/WEB-INF/thymeleaf/templates/user/includes/form_crous.html -->
<div xmlns:th="http://www.thymeleaf.org"
     th:fragment="form_crous" th:if="${displayFormParts['displayCrous']}" >
    <fieldset class="scheduler-border">
        <legend class="scheduler-border" th:text="#{common.crous}">Crous</legend>
        <div class="radio">
            <label for="radio1">
                <input type="radio" name="crousTransient" id="radio1" value="false" th:disabled="${user.crous}"/>
                <span th:text="#{form.crous.refuse}">Je ne souhaite pas bénéficier des services CROUS</span>
                <a href="#" data-toggle="tooltip" title="" th:title="#{common.cafe}">*</a>
                <span th:text="#{form.crous.on.card}">sur ma carte multi-services</span>
            </label>
        </div>
        <div class="radio">
            <label for="radio2">
                <input value="true" type="radio" name="crousTransient" id="radio2"  th:checked="${user.crous}" th:disabled="${user.crous}"/>
                <span th:text="#{form.crous.accept.short}">Je souhaite bénéficier des services CROUS</span>
                <a href="#" data-toggle="tooltip" title="" th:title="#{common.cafe}">*</a>
                <span th:text="#{form.crous.on.card}">sur ma carte multi-services</span>
            </label>
        </div>
        <div class="alert alert-info" th:text="#{form.crous.accept}">
            En acceptant, j'autorise l'établissement à transmettre les données : nom – prénom – code tarif – code société – adresse mail institutionnelle à votre CROUS, ces données étant obligatoires pour le fonctionnement du service.
        </div>
    </fieldset>
</div>