<!-- src/main/webapp/WEB-INF/thymeleaf/templates/user/includes/freeRenewal.html -->
<div th:fragment="freeRenewal" class="well" th:if="${displayFormParts['isFreeRenewal']}">
    <p th:text="#{free.renewal.description}">
        Vous avez la possibilité de demander la réédition d’une nouvelle carte si vous
        jugez celle possédée comme étant usée. Nous faisons appel à votre civisme pour
        ne faire la demande que dans un des cas d’usure listé ci-dessous.
    </p>
    <p th:text="#{free.renewal.defects.intro}">
        Nous considérerons comme inopérante une carte avec les défauts suivants :
    </p>
    <ul>
        <li th:text="#{free.renewal.defect.protection}">la couche de protection décollée</li>
        <li th:text="#{free.renewal.defect.erased}">des écritures liées au porteur effacées</li>
        <li th:text="#{free.renewal.defect.zone}">une zone de réinscription des données annuelles « piquée »</li>
    </ul>
</div>