<!-- src/main/webapp/WEB-INF/thymeleaf/user/includes/helpRequest.html -->
<div th:fragment="helpRequest" class="well">
    <h3>Le formulaire en ligne</h3>
    <p>Vous devez&nbsp;:</p>
    <ul>
        <li>Déposer une photo au format identité en cliquant sur le bouton « parcourir »</li>
        <li>Cadrer votre photo</li>
        <li>Pré-visualiser le rendu de votre photo sur la maquette de votre carte</li>
        <li>Répondre à la question cnil&nbsp;: « j’autorise ou non la diffusion de la photo pour un usage interne »</li>
        <li>Consulter le règlement interne de la Léocarte</li>
        <li>Lire les indications des modalités de remise de la Léocarte</li>
        <li>Cliquer sur enregistrer pour valider la demande</li>
    </ul>
</div>