<!-- src/main/webapp/WEB-INF/thymeleaf/templates/admin/payboxtransactions/show.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user.html}">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{show.paybox.detail}">Détail Transaction Paybox</title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="#{show.paybox.detail}">Détail de la transaction Paybox</h2>
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th th:text="#{common.date}">Date</th>
                <td th:text="${#temporals.format(payboxtransactionlog.transactionDate, 'dd/MM/yyyy HH:mm')}"></td>
            </tr>
            <tr>
                <th th:text="#{common.eppn}">Eppn</th>
                <td>
                    <a th:href="@{/manager(eppn=${payboxtransactionlog.eppn})}" th:text="${payboxtransactionlog.eppn}"></a>
                </td>
            </tr>
            <tr>
                <th th:text="#{common.reference}">Référence</th>
                <td th:text="${payboxtransactionlog.reference}"></td>
            </tr>
            <tr>
                <th th:text="#{common.amount}">Montant</th>
                <td th:text="${payboxtransactionlog.montant}"></td>
            </tr>
            <tr>
                <th th:text="#{common.auto}">Auto</th>
                <td th:text="${payboxtransactionlog.auto}"></td>
            </tr>
            <tr>
                <th th:text="#{common.error}">Erreur</th>
                <td th:text="${payboxtransactionlog.erreur}"></td>
            </tr>
            <tr>
                <th th:text="#{show.idtrans}">Idtrans</th>
                <td th:text="${payboxtransactionlog.idtrans}"></td>
            </tr>
            <tr>
                <th th:text="#{show.signature}">Signature</th>
                <td th:text="${payboxtransactionlog.signature}"></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/admin/payboxtransactions}" class="btn btn-default">Retour à la liste</a>
</div>
</body>
</html>