<!-- src/main/webapp/WEB-INF/thymeleaf/templates/manager/crousSmartCard?.html -->
<dl class="dl-horizontal col-lg-5">
    <h4>Données côté CROUS</h4>
    <dt>idTransmitter</dt>
    <dd th:text="${crousSmartCard?.idTransmitter}"></dd>
    <dt>idMapping</dt>
    <dd th:text="${crousSmartCard?.idMapping}"></dd>
    <dt>idZdc</dt>
    <dd th:text="${crousSmartCard?.idZdc}"></dd>
    <dt>zdcCreationDate</dt>
    <dd th:text="${crousSmartCard?.zdcCreationDate}"></dd>
    <dt>pixSs</dt>
    <dd th:text="${crousSmartCard?.pixSs}"></dd>
    <dt>pixNn</dt>
    <dd th:text="${crousSmartCard?.pixNn}"></dd>
    <dt>appl</dt>
    <dd th:text="${crousSmartCard?.appl}"></dd>
    <dt>uid</dt>
    <dd th:text="${crousSmartCard?.uid}"></dd>
    <dt>rid</dt>
    <dd th:text="${crousSmartCard?.rid}"></dd>
</dl>