<!-- src/main/webapp/WEB-INF/thymeleaf/templates/manager/escrCard.html -->
<dl class="dl-horizontal col-lg-5" th:fragment="escrCard">
    <h4>Données côté ESC</h4>
    <dt>europeanCardNumber</dt>
    <dd th:text="${escCard.cardNumber}"></dd>
    <dt>expiresAt</dt>
    <dd th:text="${#temporals.format(escCard.expiresAt, 'dd/MM/yyyy')}"></dd>
    <dt>issuedAt</dt>
    <dd th:text="${#temporals.format(escCard.issuedAt, 'dd/MM/yyyy')}"></dd>
    <dt>issuerIdentifier</dt>
    <dd th:text="${escCard.issuerIdentifier}"></dd>
</dl>