<!-- src/main/resources/templates/manager/list.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user.html}">
<head>
    <title th:text="#{manager.cards.management}">Gestion des cartes</title>
</head>
<body>
<div layout:fragment="content" id="cardList">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var printerEppn = /*[[${printerEppn}]]*/ "";
        var availableColumns = /*[[${availableColumns}]]*/ [];
        /*]]>*/
    </script>

    <h2>
        <span th:text="#{manager.cards.management}">Gestion des cartes</span>
        <a class="btn btn-warning navbar-btn navbar-right" th:href="@{/manager/stats}" id="btnStats" th:title="#{common.statistics}">
            <span class="glyphicon glyphicon-stats"></span>
        </a>
        <button class="btn btn-primary navbar-btn navbar-right" data-toggle="modal" data-target="#noticeEtats" th:title="#{common.states}" type="button">
            <span class="glyphicon glyphicon-info-sign"></span>
        </button>
        <button class="btn btn-default navbar-btn navbar-right" data-toggle="modal" data-target="#columnsConfig" th:title="#{list.columns.config}" type="button">
            <span class="glyphicon glyphicon-th-list"></span>
        </button>
        <button class="btn btn-default navbar-btn navbar-right" data-toggle="modal" data-target="#settings" th:title="#{common.preferences}" type="button">
            <span class="glyphicon glyphicon-cog"></span>
        </button>
        <button class="btn btn-info navbar-btn navbar-right hidden-llg hidden-lg hidden-md" data-toggle="collapse" data-target="#searchCollapse" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </button>
        <th:block sec:authorize="hasRole('ROLE_MANAGER')">
            <a class="btn btn-info navbar-btn navbar-right" th:href="@{/manager/ldapSearch}" id="btnLdap" th:title="#{ldap.search.title}">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </th:block>
    </h2>

    <div th:if="${cardsInprintCount > 0}">
        <div class="alert alert-danger">
            <span th:text="#{list.cards.in.print.warning}">Attention, vous avez</span>
            <a th:href="@{/manager(etat='IN_PRINT', ownOrFreeCard=true)}"><span th:text="${cardsInprintCount}"></span> <span th:text="#{list.cards.in.print}">cartes en cours d'impression</span></a><span th:text="#{list.cards.in.print.reminder}">, ne les oubliez pas !</span>
        </div>
    </div>

    <div th:replace="~{templates/manager/includes/megamenu :: megamenu}"></div>
    <div th:replace="~{templates/manager/includes/header :: header}"></div>

    <div id="_title_pl_org_esupportail_sgc_domain_Card_id">
        <div id="listTag">
            <form id="command" action="@{/manager}" method="GET">
                <div style="display:none;" id="preload"></div>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th data-type="html"><input id="selectall" type="checkbox" th:if="${managePermission}"></th>
                        <th class="hidden" th:text="#{list.id}">id</th>

                        <th th:each="col : ${visibleColumns}"
                            th:class="${col.cellCssClass}"
                            th:classappend="${col.centerCell ? 'centerCell' : ''}">
                            <a th:if="${col.sortable}" class="sorting" sd:pagination-sort="${col.sortField}" th:text="${col.label}"></a>
                            <span th:unless="${col.sortable}" th:text="${col.label}"></span>
                        </th>

                        <th data-type="html" th:text="#{common.view}">Voir</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="card : ${cards}">
                        <td><input th:value="${card.id}" name="case" type="checkbox" class="case" th:if="${managePermission}"/></td>
                        <td class="hidden" th:text="${card.id}"></td>

                        <td th:each="col : ${visibleColumns}"
                            th:class="${col.cellCssClass}"
                            th:classappend="${col.centerCell ? 'centerCell' : ''}">

                            <th:block th:if="${col.key == 'photo'}">
                                <a th:title="#{common.card}" th:href="@{/manager/{id}(id=${card.id})}">
                                    <div class="lazy-photo"
                                         th:attr="data-src=@{/manager/photo/{id}(id=${card.id})}"
                                         style="width:40px; height:50px; background:#eee; display:inline-block;">
                                    </div>
                                </a>
                            </th:block>

                            <th:block th:unless="${col.key == 'photo'}">
                                <span th:utext="${col.getRenderedValue(card)}"></span>
                            </th:block>
                        </td>

                        <td class="utilbox">
                            <a class="btn btn-success" th:title="#{common.card}" th:alt="#{common.card}" th:href="@{/manager/{id}(id=${card.id})}">
                                <img th:title="#{common.card}" th:src="@{/resources/images/show.png}" class="image" th:alt="#{common.card}">
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <nav>
                        <div class="btn-group">
                            <div class="btn-group dropup" sd:page-size-selector="dropdown" style="margin-top: 20px"></div>
                            <ul class="btn-group pagination" sd:pagination="full" sd></ul>
                        </div>
                    </nav>
                    <br/>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal de configuration des colonnes -->
    <div class="modal fade" id="columnsConfig" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span th:utext="#{common.times}">&times;</span></button>
                    <h4 class="modal-title" th:text="#{list.columns.config}">Configuration des colonnes</h4>
                </div>
                <form th:action="@{/manager/preferences/columns}" method="POST" id="columnsConfigForm">
                    <div class="modal-body">
                        <p class="text-muted" th:text="#{list.columns.select}">Cochez les colonnes que vous souhaitez afficher dans le tableau.</p>
                        <div class="row">
                            <div class="col-md-12">
                                <input class="form-check-input" type="checkbox" id="selectAllColumns">
                                <label class="form-check-label fw-bold" for="selectAllColumns" th:text="#{list.select.all}">
                                    Tout sélectionner / Tout désélectionner
                                </label>
                            </div>
                        </div>
                        <div class="row columns-container">
                            <div class="col-md-6 column-config-item" th:each="col : ${availableColumns}" th:attr="data-key=${col.key}">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"
                                               name="columns"
                                               class="columns-checkbox"
                                               th:value="${col.key}"
                                               th:checked="${col.visible}"/>
                                        <span th:text="${col.label}"></span>
                                        <select name="columns_render" class="form-control">
                                            <option th:value="${col.key + ':XS'}" th:selected="${col.renderSize.name()=='XS'}" th:text="#{list.screen.xs}">Écran XS</option>
                                            <option th:value="${col.key + ':S'}" th:selected="${col.renderSize.name()=='S'}" th:text="#{list.screen.s}">Écran S</option>
                                            <option th:value="${col.key + ':M'}" th:selected="${col.renderSize.name()=='M'}" th:text="#{list.screen.m}">Écran M</option>
                                            <option th:value="${col.key + ':L'}" th:selected="${col.renderSize.name()=='L'}" th:text="#{list.screen.l}">Écran L</option>
                                            <option th:value="${col.key + ':XL'}" th:selected="${col.renderSize.name()=='XL'}" th:text="#{list.screen.xl}">Écran XL</option>
                                            <option th:value="${col.key + ':XXL'}" th:selected="${col.renderSize.name()=='XXL'}" th:text="#{list.screen.xxl}">Écran XXL</option>
                                            <option th:value="${col.key + ':XXXL'}" th:selected="${col.renderSize.name()=='XXXL'}" th:text="#{list.screen.xxxl}">Écran XXXL</option>
                                        </select>
                                        <small class="text-muted" th:if="${col.description}" th:text="' - ' + ${col.description}"></small>
                                    </label>
                                    <div class="btn-group btn-group-xs" role="group">
                                        <button type="button" class="btn btn-default move-up" title="Monter">
                                            <span class="glyphicon glyphicon-arrow-up"></span>
                                        </button>
                                        <button type="button" class="btn btn-default move-down" title="Descendre">
                                            <span class="glyphicon glyphicon-arrow-down"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script th:inline="javascript">
                            /*<![CDATA[*/
                            document.addEventListener("DOMContentLoaded", function() {
                                const selectAll = document.getElementById("selectAllColumns");
                                const checkboxes = document.querySelectorAll(".columns-checkbox");
                                selectAll.addEventListener("change", () => {
                                    checkboxes.forEach(cb => cb.checked = selectAll.checked);
                                });
                                checkboxes.forEach(cb => cb.addEventListener("change", () => {
                                    const allChecked = [...checkboxes].every(c => c.checked);
                                    const noneChecked = [...checkboxes].every(c => !c.checked);
                                    if (allChecked) {
                                        selectAll.checked = true;
                                        selectAll.indeterminate = false;
                                    } else if (noneChecked) {
                                        selectAll.checked = false;
                                        selectAll.indeterminate = false;
                                    } else {
                                        selectAll.indeterminate = true;
                                    }
                                }));

                                const container = document.querySelector(".columns-container");
                                container.addEventListener("click", (event) => {
                                    const button = event.target.closest(".move-up, .move-down");
                                    if (!button) {
                                        return;
                                    }
                                    const item = button.closest(".column-config-item");
                                    if (!item) {
                                        return;
                                    }
                                    if (button.classList.contains("move-up")) {
                                        const prev = item.previousElementSibling;
                                        if (prev) {
                                            container.insertBefore(item, prev);
                                        }
                                    } else {
                                        const next = item.nextElementSibling;
                                        if (next) {
                                            container.insertBefore(next, item);
                                        }
                                    }
                                });

                                const form = document.getElementById("columnsConfigForm");
                                form.addEventListener("submit", () => {
                                    form.querySelectorAll("input[name='columns_order']").forEach(el => el.remove());
                                    container.querySelectorAll(".column-config-item").forEach(item => {
                                        const input = document.createElement("input");
                                        input.type = "hidden";
                                        input.name = "columns_order";
                                        input.value = item.getAttribute("data-key");
                                        form.appendChild(input);
                                    });
                                });
                            });
                            /*]]>*/
                        </script>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{common.cancel}">Annuler</button>
                        <button type="submit" class="btn btn-primary" th:text="#{common.save}">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="~{templates/manager/includes/modals :: modals}"></div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const observer = new IntersectionObserver((entries, obs) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        const div = entry.target;
                        const src = div.getAttribute("data-src");
                        if (src) {
                            const img = document.createElement("img");
                            img.src = src;
                            img.height = 50;
                            img.width = 40;
                            div.replaceWith(img);

                            new Popover(img, {
                                trigger: 'hover',
                                placement: 'top',
                                template: '<div class="popover" role="tooltip"><div class="popover-content"><img src="'+ src + '" height="188" width="150"/></div></div>'
                            });

                            obs.unobserve(div);
                        }
                    }
                });
            });

            document.querySelectorAll(".lazy-photo").forEach(div => {
                observer.observe(div);
            });
        });
    </script>

</div>
</body>
</html>