<!-- src/main/resources/templates/manager/list.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user.html}">
<head>
    <title>Gestion des cartes</title>
</head>
<body>
<div layout:fragment="content" id="cardList">
    <script>
        var printerEppn = "[[${printerEppn}]]";
    </script>
    <h2>
        Gestion des cartes
        <a class="btn btn-warning navbar-btn navbar-right" th:href="@{/manager/stats}" id="btnStats" title="Statistiques">
            <span class="glyphicon glyphicon-stats"></span>
        </a>
        <button class="btn btn-primary navbar-btn navbar-right" data-toggle="modal" data-target="#noticeEtats" title="Etats" type="button">
            <span class="glyphicon glyphicon-info-sign"></span>
        </button>
        <button class="btn btn-default navbar-btn navbar-right" data-toggle="modal" data-target="#settings" title="Préférences" type="button">
            <span class="glyphicon glyphicon-cog"></span>
        </button>
        <button class="btn btn-info navbar-btn navbar-right hidden-llg hidden-lg hidden-md" data-toggle="collapse" data-target="#searchCollapse" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </button>
        <th:block sec:authorize="hasRole('ROLE_MANAGER')">
            <a class="btn btn-info navbar-btn navbar-right" th:href="@{/manager/ldapSearch}" id="btnLdap" title="Recherche Ldap">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </th:block>
    </h2>

    <div th:if="${cardsInprintCount > 0}">
        <div class="alert alert-danger">
            Attention, vous avez
            <a th:href="@{/manager(etat='IN_PRINT', ownOrFreeCard=true)}" th:text="${cardsInprintCount} + ' cartes en cours d\'impression'"></a>,
            ne les oubliez pas !
        </div>
    </div>

    <div th:replace="~{templates/manager/includes/megamenu :: megamenu}"></div>
    <div th:replace="~{templates/manager/includes/header :: header}"></div>

    <div id="_title_pl_org_esupportail_sgc_domain_Card_id">
        <div id="listTag">
            <form id="command" action="@{/manager}" method="GET">
                <div style="display:none;" id="preload"></div>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th data-type="html"><input id="selectall" type="checkbox"></th>
                        <th class="hidden">id</th>
                        <th>
                            <a class="sorting" sd:pagination-sort="etat">
                                État
                            </a>
                        </th>
                        <th class="hidden-xs">
                            <a class="sorting" sd:pagination-sort="eppn">
                                EPPN
                            </a>
                        </th>
                        <th class="hidden-xs">
                            <a class="sorting" sd:pagination-sort="displayName">
                                Nom
                            </a>
                        </th>
                        <th class="type centerCell hidden-xs hidden-sm">Type</th>
                        <th th:if="${userPrefs.listNoImg != 'true' and userPrefs.listNoImg != 'on' and cards.size<=100}">Photo</th>
                        <th class="centerCell hidden-xs hidden-sm hidden-md">CROUS</th>
                        <th class="centerCell hidden-xs hidden-sm hidden-md">Dif Photo</th>
                        <th class="centerCell hidden-xs hidden-sm hidden-md hidden-llg">ESC</th>
                        <th class="centerCell hidden-xs hidden-sm">Editable</th>
                        <th class="centerCell hidden-xs hidden-sm">Livraison</th>
                        <th class="centerCell bold hidden-xs hidden-sm hidden-md hidden-llg">
                            <a class="sorting" sd:pagination-sort="nbCards">
                                Nb Cartes
                            </a>
                        </th>
                        <th class="centerCell bold hidden-xs hidden-sm hidden-md hidden-llg">
                            <a class="sorting" sd:pagination-sort="nbRejets">
                                Nb Rejets
                            </a>
                        </th>
                        <th class="hidden-xs hidden-sm hidden-md">
                            <a class="sorting" sd:pagination-sort="etatEppn">
                                Modificateur
                            </a>
                        </th>
                        <th class="hidden-xs hidden-sm hidden-md">Adresse</th>
                        <th class="centerCell hidden-xs hidden-sm hidden-md hidden-llg hidden-xl">Paiement</th>
                        <th class="centerCell hidden-xs hidden-sm hidden-md hidden-llg hidden-xl">Motif</th>
                        <th class="hidden-xs hidden-sm hidden-md hidden-llg hidden-xl">
                            <a class="sorting" sd:pagination-sort="requestDate">
                                Demande
                            </a>
                        </th>
                        <th class="hidden-xs hidden-sm">
                            <a class="sorting" sd:pagination-sort="dueDate">
                                Fin
                            </a>
                        </th>
                        <th class="hidden-xs hidden-sm hidden-md hidden-llg hidden-xl">
                            <a class="sorting" sd:pagination-sort="dateEtat">
                                Modification
                            </a>
                        </th>
                        <th data-type="html">Voir</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="card : ${cards}">
                        <td><input th:value="${card.id}" name="case" type="checkbox" class="case"/></td>
                        <td class="hidden" th:text="${card.id}"></td>
                        <td class="etat centerCell">
                            <span th:text="#{|card.label.${card.etat}|}" class="label" th:classappend="${'label-' + #strings.toLowerCase(card.etat)}"/>
                        </td>
                        <td class="hidden-xs" th:text="${card.eppn}"></td>
                        <td class="hidden-xs" th:text="${card.displayName}"></td>
                        <td class="type centerCell hidden-xs hidden-sm">
                            <span th:title="${card.userType}" class="badge" th:classappend="${'badge-' + #strings.toLowerCase(card.userType)}" th:text="${card.userType}"></span>
                        </td>
                        <td class="photo centerCell" th:if="${userPrefs.listNoImg != 'true' and userPrefs.listNoImg != 'on' and cards.size<=100}">
                            <a title="Show Card" th:href="@{/manager/{id}(id=${card.id})}">
                                <img th:if="${card.photoFile != null}" th:src="@{/manager/photo/{id}(id=${card.id})}" alt="Photo" style="max-width:40px;"/>
                            </a>
                        </td>
                        <td class="centerCell hidden-xs hidden-sm hidden-md">
                            <span th:classappend="${card.crous ? 'glyphicon-ok text-success' : 'glyphicon-remove text-danger'}" class="glyphicon"></span>
                        </td>
                        <td class="centerCell hidden-xs hidden-sm hidden-md">
                            <span th:classappend="${card.difPhoto ? 'glyphicon-ok text-success' : 'glyphicon-remove text-danger'}" class="glyphicon"></span>
                        </td>
                        <td class="centerCell hidden-xs hidden-sm hidden-md hidden-llg">
                            <span th:classappend="${card.europeanStudentCard ? 'glyphicon-ok text-success' : 'glyphicon-remove text-danger'}" class="glyphicon"></span>
                        </td>
                        <td class="centerCell hidden-xs hidden-sm">
                            <span th:classappend="${card.userEditable ? 'glyphicon-ok text-success' : 'glyphicon-remove text-danger'}" class="glyphicon"></span>
                        </td>
                        <td class="centerCell hidden-xs hidden-sm">
                            <span th:text="${#temporals.format(card.deliveredDate, 'dd/MM/yy HH:mm')}" th:if="${card.deliveredDate != null}"/>
                        </td>
                        <td class="centerCell bold hidden-xs hidden-sm hidden-md hidden-llg" th:text="${card.nbCards}"></td>
                        <td class="centerCell bold hidden-xs hidden-sm hidden-md hidden-llg" th:text="${card.nbRejets}"></td>
                        <td class="hidden-xs hidden-sm hidden-md" th:text="${card.etatEppn}"></td>
                        <td class="hidden-xs hidden-sm hidden-md" th:text="${card.address}"></td>
                        <td class="centerCell hidden-xs hidden-sm hidden-md hidden-llg hidden-xl">
                            <span th:classappend="${!#strings.isEmpty(card.payCmdNum) ? 'glyphicon-ok text-success' : 'glyphicon-remove text-danger'}" class="glyphicon"></span>
                        </td>
                        <td class="centerCell hidden-xs hidden-sm hidden-md hidden-llg hidden-xl">
                            <span th:text="${card.motifDisable}" th:if="${!#strings.isEmpty(card.motifDisable)}"/>
                        </td>
                        <td class="hidden-xs hidden-sm hidden-md hidden-llg hidden-xl">
                            <span th:text="${#temporals.format(card.requestDate, 'dd/MM/yy HH:mm')}" th:if="${card.requestDate != null}"/>
                        </td>
                        <td class="hidden-xs hidden-sm">
                            <span th:text="${#temporals.format(card.dueDate, 'dd/MM/yyyy')}" th:if="${card.dueDate != null}"/>
                        </td>
                        <td class="hidden-xs hidden-sm hidden-md hidden-llg hidden-xl">
                            <span th:text="${#temporals.format(card.dateEtat, 'dd/MM/yy HH:mm')}" th:if="${card.dateEtat != null}"/>
                        </td>
                        <td class="utilbox ">
                            <a class="btn btn-success" title="Show Card" alt="Show Card" th:href="@{/manager/{id}(id=${card.id})}">
                                <img title="Show Card" th:src="@{/resources/images/show.png}" class="image" alt="Show Card">
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <nav>
                        <div class="btn-group">
                            <div class="btn-group dropup" sd:page-size-selector="dropdown" style="margin-top: 20px"></div>
                            <ul class="btn-group pagination" sd:pagination="full" sd></ul>
                        </div>
                    </nav>
                    <br/>
                </div>
            </form>
        </div>
    </div>

    <div th:replace="~{templates/manager/includes/modals :: modals}"></div>
</div>
</body>
</html>