<!-- src/main/webapp/WEB-INF/thymeleaf/templates/manager/multiUpdateForm.html -->
<div id="cardShow" th:fragment="multiUpdateForm">
    <script th:src="@{/resources/js/bootstrap-native-custom.min.js}" type="text/javascript"></script>

    <div th:unless="${#lists.isEmpty(cardIds)}">
        <th:block th:unless="${#lists.isEmpty(etatsAvailable)}">
            <div class="editActions" id="editActions">
                <div id="selectNb">
                    <span class="badge" th:text="${cardIds.size()}"></span>
                </div>
                <div id="etatsChoice">
                    <div id="btnBlock">
                        <div class="col-lg-6">
                            <div th:each="etatAvailable, j : ${etatsAvailable}">
                                <form th:action="@{/manager/multiUpdate}" method="post" th:id="${etatAvailable + 'Form'}">
                                    <input type="hidden" name="etatFinal" th:value="${etatAvailable}" />
                                    <input type="hidden" name="comment" value="" />
                                    <input type="hidden" name="updateEtatAdmin" value="" />
                                    <input type="hidden" name="forcedEtatFinal" value="" />
                                    <input type="hidden" name="userAgent" th:value="${userAgent}" />
                                    <input type="hidden" name="printerEppn" th:value="${printerEppn}" />
                                    <th:block th:each="cardId : ${cardIds}">
                                        <input type="hidden" name="listeIds" th:value="${cardId}" />
                                    </th:block>
                                    <th:block th:if="${actionMessages[etatAvailable] != null and etatAvailable != 'REQUEST_CHECKED' and etatAvailable != 'PRINTED' and etatAvailable != 'IN_PRINT' and etatAvailable != 'DESTROYED'}">
                                        <button class="btn btn-success btn-block"
                                            th:attr="data-target='#commentEtat_' + ${j.index}, data-toggle='modal', type='button', id=${etatAvailable + 'Btn'}">
                                            <span th:text="#{manager.action.${etatInit}-${etatAvailable}}"></span>
                                        </button>
                                        <div class="modal fade" th:id="'commentEtat_' + ${j.index}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button aria-hidden="true" class="close"
                                                            data-dismiss="modal" type="button">&times;</button>
                                                        <h3 class="modal-title">Commentaire</h3>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <textarea class="form-control" th:id="'comment_' + ${j.index}"
                                                                name="comment" rows="5"
                                                                th:text="${#lists.first(actionMessages[etatAvailable])?.message}"></textarea>
                                                        </div>
                                                        <button class="btn btn-success btn-block"
                                                            th:id="${etatAvailable}">
                                                            <span th:text="#{manager.action.${etatInit}-${etatAvailable}}"></span>
                                                        </button>
                                                        <h4>Messages prédéfinis</h4>
                                                        <div class="panel-default">
                                                            <div class="panel-heading">
                                                                <a class="accordion-toggle"
                                                                    data-parent="#accordionfilter" data-toggle="collapse"
                                                                    th:href="'#msgChoice_' + ${j.index}">
                                                                    <span class="glyphicon glyphicon-plus">Choisir</span>
                                                                </a>
                                                            </div>
                                                            <div class="panel-collapse well collapse" th:id="'msgChoice_' + ${j.index}">
                                                                <ul>
                                                                    <li th:each="msg, loop : ${actionMessages[etatAvailable]}">
                                                                        <button class="btn btn-default btn-xs" type="button">
                                                                            <span aria-hidden="true" th:id="'msg_' + ${j.index} + '_' + ${loop.index}"
                                                                                class="glyphicon glyphicon-edit"></span>
                                                                        </button>
                                                                        <span th:id="'span_' + ${j.index} + '_' + ${loop.index}" th:text="${msg.message}"></span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button aria-hidden="true" class="btn btn-default"
                                                            data-dismiss="modal">Fermer</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </th:block>
                                    <th:block th:unless="${actionMessages[etatAvailable] != null and etatAvailable != 'REQUEST_CHECKED' and etatAvailable != 'PRINTED' and etatAvailable != 'IN_PRINT' and etatAvailable != 'DESTROYED'}">
                                        <button th:id="${etatAvailable + 'Btn'}" class="btn btn-success btn-block" type="submit">
                                            <span th:text="#{|manager.action.${etatInit}-${etatAvailable}|}"></span>
                                        </button>
                                    </th:block>
                                </form>
                            </div>
                            <th:block th:if="${etatInit == 'NEW' or etatInit == 'RENEWED'}">
                                <form th:action="@{/manager/retouche}" method="post" id="retoucheForm">
                                    <th:block th:each="cardId : ${cardIds}">
                                        <input type="hidden" name="listeIds" th:value="${cardId}" />
                                    </th:block>
                                    <input type="submit" value="Retoucher" />
                                </form>
                            </th:block>
                            <th:block th:if="${#authorization.expression('hasRole(''ROLE_MANAGER'')') and livraison}">
                                <th:block th:if="${deliveredFlag}">
                                    <form th:action="@{/manager/multiDelivery}" method="post">
                                        <th:block th:each="cardId : ${cardIds}">
                                            <input type="hidden" name="listeIds" th:value="${cardId}" />
                                        </th:block>
                                        <button class="btn btn-primary btn-block" type="submit"
                                            onclick="return confirm('Confirmez la livraison');">
                                            Noter comme livrée
                                        </button>
                                    </form>
                                </th:block>
                            </th:block>
                            <th:block th:if="${validatedFlag}">
                                &nbsp;
                                <button id="validationBtn" class="btn btn-danger" data-toggle="modal" data-target="#modalValidation">
                                    Rejouer la procédure de validation / invalidation
                                </button>
                                <div class="modal fade" tabindex="-1" role="dialog" id="modalValidation">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title">Rejouer la procédure de validation / invalidation</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form th:action="@{/manager/multiReplayValidationOrInvalidation}" method="post" id="replayValidation"
                                                    onsubmit="return confirm('Attention, avec cette action, pour la partie CROUS, Izly pourra renvoyer un mail à l\'utilisateur');">
                                                    <div class="checkbox" th:each="validateServicesName : ${validateServicesNames}">
                                                        <label>
                                                            <input type="checkbox" id="validateServicesNames" name="validateServicesNames"
                                                                th:value="${validateServicesName}" /> <span th:text="${validateServicesName}"></span>
                                                        </label>
                                                    </div>
                                                    <th:block th:each="cardId : ${cardIds}">
                                                        <input type="hidden" name="listeIds" th:value="${cardId}" />
                                                    </th:block>
                                                    <button class="btn btn-success" type="submit">Confirmer</button>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <span></span>
                </div>
            </div>
        </th:block>
        <th:block th:if="${#lists.isEmpty(etatsAvailable)}">
            <div class="editForbidden col-lg-6">
                <p>Vous ne pouvez faire aucune action par lot :</p>
                <ul>
                    <li>Soit vous avez des demandes avec des états différents</li>
                    <li>Aucune action pour les états <em>DÉTRUIT</em> ou <em>REJETÉ</em> ou <em>ANNULÉ</em></li>
                    <li>Soit vous avez des demandes en état <em>EN_IMPRESSION</em> ou <em>EN_ENCODAGE</em>
                        dont vous n'avez pas les droits de modification
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <th:block th:if="${validatedFlag}">
                    &nbsp;
                    <button id="validationBtn" class="btn btn-danger" data-toggle="modal" data-target="#modalValidation">
                        Rejouer la procédure de validation / invalidation
                    </button>
                    <div class="modal fade" tabindex="-1" role="dialog" id="modalValidation">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">Rejouer la procédure de validation / invalidation</h4>
                                </div>
                                <div class="modal-body">
                                    <form th:action="@{/manager/multiReplayValidationOrInvalidation}" method="post" id="replayValidation"
                                        onsubmit="return confirm('Attention, avec cette action, pour la partie CROUS, Izly pourra renvoyer un mail à l\'utilisateur');">
                                        <div class="checkbox" th:each="validateServicesName : ${validateServicesNames}">
                                            <label>
                                                <input type="checkbox" id="validateServicesNames" name="validateServicesNames"
                                                    th:value="${validateServicesName}" /> <span th:text="${validateServicesName}"></span>
                                            </label>
                                        </div>
                                        <th:block th:each="cardId : ${cardIds}">
                                            <input type="hidden" name="listeIds" th:value="${cardId}" />
                                        </th:block>
                                        <button class="btn btn-success" type="submit">Confirmer</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </th:block>
        <div class="col-lg-12">
            <div class="collapse" id="collapseEtat">
                <div class="alert alert-danger">
                    <form th:action="@{/manager/multiUpdate}" method="post" id="forcedForm" class="form-inline">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" id="checkAdmin" name="updateEtatAdmin" />
                            </span>
                            <select id="forcedEtatFinal" name="forcedEtatFinal" class="form-control">
                                <option value="">Aucune action</option>
                                <option th:each="etat : ${allEtats}" th:value="${etat}" class="etat"
                                    th:text="#{|card.step.${etat}|}"></option>
                            </select>
                            <th:block th:each="cardId : ${cardIds}">
                                <input type="hidden" name="listeIds" th:value="${cardId}" />
                            </th:block>
                        </div>
                        <input type="submit" class="btn btn-danger" value="Changer" />
                    </form>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>