<!-- src/main/webapp/WEB-INF/thymeleaf/templates/manager/rightHolder.html -->
<div id="cardShow">
    <dl>
        <dt>identifier</dt>
        <dd th:text="${rightHolder?.identifier}"></dd>
        <dt>firstName</dt>
        <dd th:text="${rightHolder?.firstName}"></dd>
        <dt>lastName</dt>
        <dd th:text="${rightHolder?.lastName}"></dd>
        <dt>birthDate</dt>
        <dd th:text="${rightHolder?.simpleBirthDate}"></dd>
        <dt>email</dt>
        <dd th:text="${rightHolder?.email}"></dd>
        <dt>dueDate</dt>
        <dd th:text="${rightHolder?.dueDate}"></dd>
        <dt>idCompanyRate</dt>
        <dd th:text="${rightHolder?.idCompanyRate}"></dd>
        <dt>idRate</dt>
        <dd th:text="${rightHolder?.idRate}"></dd>
        <dt>ine</dt>
        <dd th:text="${rightHolder?.ine}"></dd>
        <dt>rneOrgCode</dt>
        <dd th:text="${rightHolder?.rneOrgCode}"></dd>
        <dt>accountStatus</dt>
        <dd th:text="${rightHolder?.accountStatus}"></dd>
        <dt>blockingStatus</dt>
        <dd th:text="${rightHolder?.blockingStatus}"></dd>
    </dl>
</div>