<!-- src/main/webapp/WEB-INF/thymeleaf/templates/manager/rightHolder.html -->
<div id="cardShow">
    <dl>
        <dt th:text="#{common.identifier}">identifier</dt>
        <dd th:text="${rightHolder?.identifier}"></dd>
        <dt th:text="#{common.1}">firstName</dt>
        <dd th:text="${rightHolder?.firstName}"></dd>
        <dt th:text="#{common.lastname}">lastName</dt>
        <dd th:text="${rightHolder?.lastName}"></dd>
        <dt th:text="#{common.birthdate}">birthDate</dt>
        <dd th:text="${rightHolder?.simpleBirthDate}"></dd>
        <dt th:text="#{common.1}">email</dt>
        <dd th:text="${rightHolder?.email}"></dd>
        <dt th:text="#{common.duedate}">dueDate</dt>
        <dd th:text="${rightHolder?.dueDate}"></dd>
        <dt th:text="#{common.idcompanyrate}">idCompanyRate</dt>
        <dd th:text="${rightHolder?.idCompanyRate}"></dd>
        <dt th:text="#{common.idrate}">idRate</dt>
        <dd th:text="${rightHolder?.idRate}"></dd>
        <dt th:text="#{common.ine}">ine</dt>
        <dd th:text="${rightHolder?.ine}"></dd>
        <dt th:text="#{common.rneorgcode}">rneOrgCode</dt>
        <dd th:text="${rightHolder?.rneOrgCode}"></dd>
        <dt th:text="#{common.accountstatus}">accountStatus</dt>
        <dd th:text="${rightHolder?.accountStatus}"></dd>
        <dt th:text="#{common.blockingstatus}">blockingStatus</dt>
        <dd th:text="${rightHolder?.blockingStatus}"></dd>
    </dl>
</div>