<!-- src/main/webapp/WEB-INF/thymeleaf/templates/admin/navbars/list.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user.html}">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{navbars.title}">Liens Apps - NavBar</title>
</head>
<body>
<div layout:fragment="content">
    <div class="well">
        <span th:text="#{navbars.description}">Cette page vous permet de modifier les liens rendus disponibles via le menu déroulant 'Apps' proposé dans la barre de navigation du haut.</span>
        <br/>
        <span th:text="#{navbars.organization}">Suivant votre organisation, vous pouvez par exemple ne proposer que l'installateur windows des clients esup-sgc/esup-nfc-tag et l'application Android officielle proposée sur le play-store.</span>
        <br/>
        <span th:text="#{navbars.reminder}">Pour rappel,</span>
        <ul>
            <li>
                <span th:text="#{navbars.get.clients}">vous pouvez récupérer les clients, et notamment l'insallateur windows au travers de</span>
                <a href="https://esup-sgc-client-web-installer.univ-rouen.fr">https://esup-sgc-client-web-installer.univ-rouen.fr</a>
            </li>
            <li>
                <span th:text="#{navbars.use.apk}">vous pouvez utiliser directement l'</span>
                <a href="https://play.google.com/store/apps/details?id=org.esupportail.esupnfctagdroid" th:text="#{navbars.apk.official}">APK officielle et générique diffusée depuis Google Play par ESUP</a>
                <br/>
                <span th:text="#{navbars.pull.request}">Pour voir apparaître votre serveur esup-nfc-tag dans la liste des serveurs disponibles depuis cette version esup-nfc-tag-droid fournie sur le google play, vous pouvez en faire la demande au travers d'un Pull Request proposant la modification du listing des urls disponibles :</span>
                <a href="https://github.com/EsupPortail/esup-nfc-tag-droid/blob/master/src/main/assets/urls">https://github.com/EsupPortail/esup-nfc-tag-droid/blob/master/src/main/assets/urls</a>
            </li>
        </ul>
    </div>

    <div>
        <table class="table table-bordered table-striped" id="l_org_esupportail_sgc_domain_NavBarApp">
            <thead>
            <tr>
                <th th:text="#{common.title}">Titre</th>
                <th>URL</th>
                <th th:text="#{common.icon}">Icône</th>
                <th th:text="#{common.index}">Index</th>
                <th th:text="#{common.role}">Visible pour rôle</th>
                <th th:text="#{common.edit}">Modifier</th>
                <th th:text="#{common.delete}">Supprimer</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="app : ${navbarapps}">
                <td th:text="${app.title}"></td>
                <td>
                    <a th:href="${app.url}" th:text="${app.url}" target="_blank"></a>
                </td>
                <td th:text="${app.icon}"></td>
                <td th:text="${app.index}"></td>
                <td th:text="${app.visible4role}"></td>
                <td>
                    <a th:href="@{/admin/navbars/{id}(id=${app.id})}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-edit"></span><span th:text="#{common.edit}">Modifier</span>
                    </a>
                </td>
                <td>
                    <form th:action="@{/admin/navbars/{id}(id=${app.id})}" th:method="delete" class="form-inline">
                        <button type="submit" class="btn btn-danger" th:onclick="|return confirm('#{navbars.confirm.delete}')|">
                            <span class="glyphicon glyphicon-trash"></span> <span th:text="#{common.delete}">Supprimer</span>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Ajout d'un bouton pour créer une nouvelle entrée si besoin -->
    <a class="btn btn-primary" th:href="@{/admin/navbars?form}">
        <span class="glyphicon glyphicon-plus"></span> <span th:text="#{navbars.add.link}">Ajouter un lien</span>
    </a>
</div>
</body>
</html>